@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #E0C9CC;
    height: 100vh;
}

header {
     display: flex;
     width: 100vw;
     justify-content: space-around;
     align-items: center;
     color: #fff;
}


header .logo {
    display: flex;
    width: 450px;
    align-items: center;
}

header .logo .fa-shoe-prints {
    font-size: 2em;
    margin-right: .5em;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    transition: .3s;
    cursor: pointer;
}

header ul li:hover {
    color: #3c1321;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 4em;
}

main .card {
    background-color: #F6F6F6;
    border-radius: 8px;
    padding: 2em;
    box-shadow: 9px 9px 6px -6px rgba(0,0,0,0.53);
}

main .card .card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
}

main .card .card-content section{
    margin-right: 2rem;
}

main .card .card-content section img {
    width: 20rem;
}

main .card .card-content section span {
    color: #C9A6A4;
    font-weight: bold;
}

main .card .card-content section .size-selection label {
  display: inline-block;
  padding: .8rem;
  border: solid 2px #C9A6A4;
  transition: 0.3s;
  color: #C9A6A4;
  margin: 0 .2rem;
  border-radius: 4px;
}

main .card .card-content section .size-selection label:hover {
    background-color: #C9A6A4;
    color: #fff;
}

main .card .card-content section .size-selection input[type="radio"] {
    display: none;
}

main .card .card-content section .size-selection input[type="radio"]:checked + label {
    background-color: #3c1321;
    color: #fff;
    border: #3c1321;
    transform: scale(1.1);
}

main .card .card-content aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .card .card-content aside span {
    color: #C9A6A4;
}

main .card .card-content aside h3 {
    color: #3c1321;
    font-size: 2em;
}

main .card .card-content aside h4 {
    color: #C9A6A4;
    font-size: 2rem;
    padding: .3rem 0;
}

main .card .card-content aside p {
    font-weight: 300;
    line-height: 1.8rem;
}

main .card .card-content aside #card-button {
    background-color: #d24d57;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 1rem 2rem;
    margin: 1rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    transition: .1s;
    cursor: pointer;
}

main .card .card-content aside #card-button:hover {
    background-color: #3c1321;
}

main .arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    z-index: 1000;
}

main .arrows i {
    font-size: 6rem;
    font-weight: 300;
    cursor: pointer;
    color: #fff;
}

main .arrows i:hover {
    color: #3c1321;
}