@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #E0C9CC;
    height: 100vh;
    overflow: hidden;
}

header {
     display: flex;
     width: 100vw;
     justify-content: space-around;
     align-items: center;
     color: #fff;
}


header .logo {
    display: flex;
    width: 450px;
    align-items: center;
}

header .logo .fa-shoe-prints {
    font-size: 2em;
    margin-right: .5em;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    transition: .3s;
    cursor: pointer;
}

header ul li:hover {
    color: #3c1321;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 4em;
}

main .card {
    background-color: #F6F6F6;
    border-radius: 8px;
    padding: 2em;
    box-shadow: 9px 9px 6px -6px rgba(0,0,0,0.53);
}

main .card .card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
}

main .card .card-content section{
    margin-right: 2rem;
}